@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

h1, h2, h3, h4, h5, h6  {
  font-family: "Oswald", sans-serif;
  padding: 8px;
}

h1  {
  color: #7D1B31;
  font-size: clamp(2.5rem, 4.619vw + 1.305rem, 5rem);
  line-height: clamp(3.75rem, 5.081vw + 2.435rem, 6.5rem);
}

p {
  font-family: "Inter", sans-serif;
  padding: 12px;
  line-height: 24px;
}

.bold-p   {
  font-weight: 700;
}

.span-p {
  font-weight: 400;
}


.query {
  max-width: 300px;
  padding: 10px;
  font-size: 20px;
  margin: 24px;
}

.main-container  {
  background-color: rgb(238, 236, 243);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-container{
  width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 12px;
    justify-content: center;
}

h1, h3  {
  text-align: center;
}

.e-h1 {
  font-size: clamp(2.5rem, 4.619vw + 1.305rem, 5rem);
  color: hotpink;
}

.item-card  {
  /* background-color: rgb(249, 247, 248); */
  width: 325px;
  height: auto;
  border: 1px solid #7D1B31;
  margin: 16px;
  padding: 8px;
  border-radius: 2px;
}

button  {
  height: 30px;
  width: 90px;
  border: 2px solid #7D1B31;
  background-color: #7D1B31;
  color: #eeecf3;
  margin: 8px;
}

@media (min-width: 768px) {
  .main-container  {
    flex-direction: row;
    padding: 24px
  }
}

@media (min-width: 1024px) {
  .main-container  {
    max-width: 1200px;
    margin: 0 auto;
  }
}